<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.fh.entity.UserInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="userPwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="realName" property="realName" jdbcType="VARCHAR" />
    <result column="loginTime" property="loginTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,userName,userPwd,realName,loginTime,count
  </sql>
  <!-- 通过用户名查询用户 -->
  <select id="queryUserByName" parameterType="java.lang.String" resultType="com.fh.entity.UserInfo">
  		select 
  		<include refid="Base_Column_List"/>
  		from t_shop_user where userName=#{userName}
  </select>
  
  <!-- 通过用户名查询用户 -->
  <select id="queryUserById" parameterType="java.lang.Integer" resultType="com.fh.entity.UserInfo">
  		select 
  		<include refid="Base_Column_List"/>
  		from t_shop_user where id=#{id}
  </select>
  
  <!-- 分页查询 -->
  <select id="findUserByPage" resultMap="BaseResultMap" parameterType="Map">
  		<!-- limit start,2 -->
  		SELECT <include refid="Base_Column_List" />
  		  FROM  t_shop_user 
  		  <where>
  		  	<if test="userName !=null and userName!=''">
  		  		USERNAME like "%" #{userName} "%"
  		  	</if>
  		  </where>
  		  limit #{start},#{pageSize}
  </select>
  
  <!-- 查询总条数 -->
  <select id="findCount" resultType="java.lang.Integer" parameterType="Map">
  		select count(*) from t_shop_user
  		 <where>
  		  	<if test="userName !=null and userName!=''">
  		  		USERNAME like "%" #{userName} "%"
  		  	</if>
  		  </where>
  </select>
  <!-- 删除用户 -->
  <delete id="deleteUser" parameterType="java.lang.Integer">
  		delete from t_shop_user where id=#{id}
  </delete>
  <!-- 修改用户 -->
  <update id="updateUser" parameterType="com.fh.entity.UserInfo">
  		update t_shop_user set userName = #{userName},realName = #{realName}
  		<if test="loginTime != null">
  		,loginTime = #{loginTime}
  		</if>
  		<if test="count != null">
  		,count = #{count}
  		</if>
  		where id=#{id}
  </update>
  <!-- 新增用户 -->
  <insert id="saveUser" parameterType="com.fh.entity.UserInfo">
	  	insert into t_shop_user (userName,userPwd,realName,count,loginTime) values(#{userName},#{userPwd},#{realName},#{count},#{loginTime})
  </insert>  
</mapper>