@CHARSET "UTF-8";
.btnStyle{color: red;width: 75px;height: 25px;border-color: #ccc}
.btnOver{color: red;width: 75px;height: 25px;border-color: red}
.btnClick{color: white;width: 75px;height: 25px;border-color: blue;background-color: red}